# =========================
# Common & Security
# =========================
.env
*.pem
*.key
*.pt
*.pth
ai/model-artifacts/
local.properties
keystore.properties
secrets.xml

# =========================
# Build & Gradle (Global)
# =========================
build/
*/build/
.gradle/
mobile/.gradle-user-home/
!**/gradle/wrapper/gradle-wrapper.jar
out/
bin/
target/

# =========================
# IDE & OS
# =========================
.idea/
*.iml
*.iws
.vscode/
.DS_Store
Thumbs.db
