### Data ###
data/

### Models ###
models/*
!models/transformer_mobile/
!models/transformer_mobile/**
models/BiLSTM/

### Python Cache ###
__pycache__/
*.py[cod]
*$py.class

### Virtual Environment ###
venv/
.venv/
env/
.env/

### System Files ###
.DS_Store
*.log
